 body {
	background-color: #42454a;
}

section {
	width: 800px;
	margin: 100px auto;
}
section h1,
section p {
	text-align: center;
	color: #ffffff;
}
section h1 {
	font: 32px 'Open Sans';
	font-weight: bold;
}
section p {
	font: 18px 'Open Sans';
	font-style: italic;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}